<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="name and city">
  <test name="positive" >
    <parameter name="username"  value="Romka" />
    <parameter name="city"  value="Penza" />
    <classes>
      <class name="neoflex.Annotations"/>
    </classes>
  </test>
  <test name="negative" >
    <parameter name="username"  value="Denis" />
    <parameter name="city"  value="Novgorod" />
    <classes>
      <class name="neoflex.Annotations"/>
    </classes>
  </test>
</suite>